<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/main.css" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"
	</head>

	<body class="bg-color">
		<div class="whole">
			<nav>
				<div class="inner-nav" id="menu">
					<div id="menu" class="menu-button fl-l cl-n">
						<i class="fas fa-lg fa-bars"></i>
					</div>

					<h3 id="menu-word" class="f-w-800 fl-l">MENU</h3>
				</div>

				<h3 class="upper m-l-10">StackOverflow-Lite </h3>

				
			</nav>

				  <div id="closer" class="close hide">
				  	&#xd7;
				  </div>

  

      <div class="menubody not-visible" id="bodyMenu" >
        <ul>
          <li class="menu-item" ><a class="active">Home</a></li>
          <li class="menu-item" ><a>Search</a></li>
            <li class="menu-item" ><a>Account</a></li>
            

        </ul>
      </div>


      <h2 class="title themecolor-text">Profile</h2>

      <div class="profile-box">
      	<div class="profile-image">
      		<img src="../images/user.jpg">
      	</div>

      	<hr />

      	<div class="profile-details">
      		<p class="prof-label">Full name</p> <p class="prof-deet">Denzel Washington</p>
      		<p class="prof-label">Username</p> <p class="prof-deet">Mikey</p>
      		<p class="prof-label">Email</p> <p class="prof-deet">mikechan@gmail.com</p>
      		<p class="prof-label">Questions asked</p> <p class="prof-deet">52</p>
      		<p class="prof-label">Answers given</p> <p class="prof-deet">11</p>
      	</div>

      	  </div>


      	  <div class="toggleable">
      	  	<div class="tog-nav">
      	  		<p class="tog-nav-item themecolor-text fw-800">Recent</p>
      	  		<p class="tog-nav-item selected fw-800">Most Answers</p>
      	</div>

      		<div class="tog-pane">

      			<h1 class="fw-900 txt-grey">Questions you asked with most answers</h1>

      			<hr>

      			<div class="q-box">


					<p class="q-name fs-12">Asked by You</p>
					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>

					

					<p class="q-que fs-20 fw-800 ">Cras fringilla sagittis eros sit amet eleifend?</p>

					<p class="q-que-xtr fs-14"> Donec congue imperdiet erat pellentesque luctus. Nam eleifend viverra ornare. Nunc vitae urna at odio rhoncus congue. In sit amet mauris eu ipsum ultricies dignissim. Vivamus luctus felis a est molestie dictum</p>


					

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 56 answers</div>
					</div>
					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 3 weeks ago</p>

	
				
				 </div>

				

				 <div class="q-box">

				 	<p class="q-name fs-12">Asked by You</p>

					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800 ">Quisque convallis augue erat, a tincidunt ex pretium sed?</p>

					<p class="q-que-xtr fs-14">Sed bibendum neque a lorem aliquam, ac tincidunt nulla faucibus. Mauris laci, Sed bibendum neque a lorem aliquam, ac tincidunt nulla faucibus. Mauris laci</p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 52 answers</div>
					</div>
					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 3 weeks ago</p>

				 </div>

				 

				 <div class="q-box">

				 	<p class="q-name fs-12">Asked by You</p>

					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800">Aenean accumsan justo vel mollis eleifend. Vestibulum vel posuere arcu. Maecenas sit amet velit torto</p>

					<p class="q-que-xtr fs-14">Praesent et ligula metus. Vivamus vehicula consequat elit, eget scelerisque ex gravida at. Nunc at risus elit. Orci varius natoque penatibus et magnis dis parturient </p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 50 answers</div>
					</div>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 2 weeks ago</p>

				 </div>

				

				 <div class="q-box">

				 	<p class="q-name fs-12">Asked by You</p>

					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800 ">Duis ac metus justo. Nullam tempus odio at magna rutrum</p>

					<p class="q-que-xtr fs-14">Sed bibendum neque a lorem aliquam, ac tincidunt nulla faucibus. Mauris lacinia nibh nec luctus vulputate. Sed at accumsan lacus. In tristique blandit felis, eu convallSed bibendum neque a lorem aliquam, ac tincidunt nulla faucibus. Mauris lacinia nibh nec luctus vulputate. Sed at accumsan lacus. In tristique blandit felis, eu convall</p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 45 answers</div>
					</div>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 2 weeks ago</p>

						 </div>

				

				 <div class="q-box">

				 	<p class="q-name fs-12">Asked by You</p>

					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800 ">Fusce at porttitor sem, quis lobortis diam. In ut vestibulum felis</p>

					<p class="q-que-xtr fs-14" >Vestibulum vehicula lectus quis sem pharetra euismod. Ut ut elit a justo congue euismod. Aliquam tristique nec tellus id placerat. Morbi non porta risuVestibulum vehicula lectus quis sem pharetra euismod. Ut ut elit a justo congue euismod. Aliquam t</p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 41 answers</div>
					</div>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 2 weeks ago</p>


				 </div>

				

				 <div class="q-box">

				 	<p class="q-name fs-12">Asked by You</p>

					<div class="q-pic">
						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800 "> Ut vel vulputate arcu, nec dapibus orci. Pellentesque sem nibh, fermentum sit amet aliquet ac, varius at justo.?</p>

					<p class="q-que-xtr fs-14">Morbi tristique a diam sit amet ullamcorper. Sed et porttitor leo. Integer vehicula lorem eu arcu pulvinar laoreet nec sed eros. Duis mattis tellus in leo faucib</p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 37 answers</div>
					</div>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

				 </div>

				 

				 <div class="q-box">
					<div class="q-pic">

						<p class="q-name fs-12">Asked by You</p>

						<img src="../images/user.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800">Quisque eu dolor lacinia, venenatis orci quis, eleifend</p>

					<p class="q-que-xtr fs-14">Aliquam tristique nec tellus id placerat. Morbi non porta risus. Duis finibus sit amet diam a tempor. Integer vel justo mauris. Nullam in met</p>

					<div class="specs">
						<div class="spec-answ themecolor-text"><i class="fas fa-pencil-alt"></i> 22 answers</div>
					</div>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

				 </div>
      </div>

</body>
<script type="text/javascript" src="../js/main.js"></script>
</html>