
<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link rel="stylesheet" href="../css/main.css" type="text/css">
	</head>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="..css/main.css" type="text/css">
	</head>

	<body>
		<div class="auth-page container">

			<nav>
          		<h3>StackOverflow-Lite </h3>
          		 Getting Started
            </nav>

			<div class="auth-page-centerbox">

				<div class="auth-page-leftside softborder theme-shadow">

					<div class="auth-page-banner">
						<img src="../images/banner.jpeg" alt="Banner Image" />					
					</div>

				</div>


				<div class="auth-page-rightside">

						<h1 class="themecolor-text centered">StackOverflow-Lite</h1>

						<div class="auth-page-phrase">
							<p class="weight-one centered">Sign-In to get right into the conversations that matter to you!!</p>		
						</div>

						<div class="auth-page-signup">

							<form class="auth-page-form">
								
								<input type="text" name="username" placeholder="Username or email" />		
								<input type="password" name="password" placeholder="Password" />
							</form>

							<button class="f-p-signup themecolor-bg">Log-In</button>
						</div>

						<div class="auth-page-login">
							<p class="centered">Don't have an account?</p>
							<button class="f-p-login themecolor-bg">Sign-Up</button>
						</div>
				</div>

		</div>

			</div>

		</div> 
	</body>
</html>