<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/main.css" type="text/css">
	</head>

	<body>
		<div class="whole bg-color">
			<nav>
				<div class="inner-nav" id="menu">
					<div id="menu" class="menu-button fl-l cl-n">
						<img src="../images/icons/menu.png" />
					</div>

					<h3 id="menu-word" class="f-w-800 fl-l">MENU</h3>
				</div>

				<h3>StackOverflow-Lite </h3>

				
			</nav>

				  <div id="closer" class="close hide">
				  	&#xd7;
				  </div>

  

      <div class="menubody not-visible" id="bodyMenu" >
        <ul>
          <li class="menu-item" ><a class="active">Home</a></li>
          <li class="menu-item" ><a>Search</a></li>
            <li class="menu-item" ><a>Account</a></li>
            

        </ul>
      </div>

      <div class="que-box">
      <div class="q-box">

      				<p class="q-name fs-12">Asked by Tosh John</p>

					<div class="q-pic">
						<img src="../images/three.jpg" />
					</div>
					
					<p class="q-que fs-20 fw-800">Quisque eu dolor lacinia, venenatis orci quis, eleifend</p>

					<p class="q-que-xtr fs-14">Aliquam tristique nec tellus id placerat. Morbi non porta risus. Duis finibus sit amet diam a tempor. Integer vel justo mauris. Nullam in met</p>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

					
				 </div>

				 <div class="comm-box">
				 <div class="comment-box">
				 	<input type="text" placeholder="Give an answer...." />
				 	<button class="add-comm">Answer</button>
				 </div>
				</div>


				</div>
				 <div class="n-of-answ fw-800">5 answers</div>
				 <hr />



				 <div class="ans-box">


				 	<div class="q-box">

				<p class="q-name fs-12">Answer by Tesh Njhia</p>


					<div class="q-pic">
						<img src="../images/four.jpg" />
					</div>
					
				
					<p class="q-que-xtr fs-14">Morbi tristique a diam sit amet ullamcorper. Sed et porttitor leo. Integer vehicula lorem eu arcu pulvinar laoreet nec sed eros. Duis mattis tellus in leo faucib</p>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

					
				 </div>


				 	<div class="q-box">

				 		<p class="q-name fs-12">Answer by Mark Weinns</p>

					<div class="q-pic">
						<img src="../images/one.jpg" />
					</div>
					
				

					<p class="q-que-xtr fs-14">Aliquam tristique nec tellus id placerat. Morbi non porta risus. Duis finibus sit amet diam a tempor. Integer vel justo mauris. Nullam in met</p>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

					
				 </div>


				 <div class="q-box">

				 	<p class="q-name fs-12">Answer by Trent Mikasa</p>

					<div class="q-pic">
						<img src="../images/five.jpg" />
					</div>
				

					<p class="q-que-xtr fs-14">Aliquam tristique nec tellus id placerat. Morbi non porta risus. Duis finibus sit amet diam a tempor. Integer vel justo mauris. Nullam in met</p>

					<p class="q-time fs-12 fw-200 ta-r p-r-1">Posted about 1 weeks ago</p>

					
				 </div>



				 </div>
</body>
<script type="text/javascript" src="../js/main.js"></script>
</html>